.container{
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
    border: 2px solid rgb(180, 93, 93);
    border-radius: 10px;
    background-color: #b36363;
    margin-top: 350px;
    h1{
        text-align: center;
        background-color: transparent;
        font-size: 60px;
    }
    .seleccion{
        text-align: center;
        background-color: transparent;
        font-size: 30px;
        
    }
    .btn:hover{
        background-color: #2d3dce;
        color: white;
        a{
            color: white;
        }
    }
    
}

.container .btn{
    display: inline-block;
    margin: 10px;
    background-color: #4d6d94;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    align-items:  center;
    text-decoration: none;
    a{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:beige;
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    padding: 12px;
    border: 1px solid aquamarine;
}
th {
    background-color: aqua;
    color: white;
}
tr:nth-child(odd) { background-color: aqua; }
tr:nth-child(even) { background-color:silver; }
tr:hover {
    background-color:gray;
    color: white;
}
span {
    padding: 5px;
    margin: 2px;
    display: inline-block;
    border: 1px solid rgb(216, 168, 168);
}

em {
    padding: 5px;
    margin: 2px;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
}

.grupo1 span:nth-child(odd) {
    background-color: aqua;
    color: rgb(0, 0, 0);
}

.grupo2 span:nth-child(odd):not(em) {
    background-color: aqua;
    color: rgb(0, 0, 0);
}

.grupo3 span:nth-of-type(odd):not(em) {
    background-color: aqua;
    color: rgb(0, 0, 0);
}